body, html{
    padding:0;
    margin:0;
  }

  .social-item {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0 0 2px #fff;
      padding: 0.5em 0.6em;
      margin-left: 10px;
  }
  @font-face{
      font-family: 'inspiration';
      src: url('../font/inspiration/Inspiration-Regular.ttf');
  }

  @font-face{
      font-family: 'hurricane';
      src: url('../font/hurricane/Hurricane-Regular.ttf');
  }
  .txtlogo{
    font-family:hurricane;
    font-size:30px;
  }


.bg-image {
    max-width:100%;
    height:500px;
    background: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)), url('../img/FooterImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

  .bg-image-game {
    max-width:100%;
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }

  .inscription{
    border: 2px solid;
    color:white;
  }

  #titre_inscri{
    font-size:30px;
    color:white;
  }

  .container-bg-game {
    background-color: aqua;
  }

  .bg-principal {
    background-color: rgb(31, 33, 41);
  }

  .bg-tertiaire {
    background-color: rgb(36, 38, 44);
  }

  .bg-secondaire {
    background-color: rgb(39, 41, 52);;
  }

  .profileImg {
    max-width: 100px;
    height: auto;
  }